.main {
  background-color: rgba(0, 0, 0, 0.235);
  min-height: 100vh;
  height: 100%;
  position: relative;
}
.main::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.search {
  display: flex;
  justify-content: start;
  width: 100%;
}
.search input {
  max-width: 400px;
  background-color: rgba(0, 0, 0, 0.313);
  border: 1px;
  height: 40px;
  padding-left: 8px;
  border-radius: 10px;
}
.search input:focus {
  outline: none;
}

.search input::placeholder {
  color: white;
}
.container {
  max-width: 700px;
  height: 90vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px;
  gap: 10px;
}
.weatherInfo {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.317);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.cityDel {
  display: flex;
  flex-direction: column;
}
.logo {
  display: flex;
  align-items: center;
}
.cityName {
  margin-left: 20px;
  margin-bottom: 10px;
}
.climate {
  font-size: 12px;
}
.weatherDel {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}
.temp p {
  font-size: 30px;
  display: flex;
  margin: 0px 20px;
}
.temp span {
  color: rgba(255, 255, 255, 0.326);
}
.temp .opacity {
  color: white;
}
.temp .unit {
  font-size: 14px;
}
.weatherDiv {
  background-color: rgba(0, 0, 0, 0.317);
  width: 200px;
  height: 80px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}
@media screen and (max-width: 500px) {
  .weatherDel {
    justify-content: center;
  }
}
@media screen and (max-height: 828px) and (max-width: 500px) {
  .main {
    min-height: 100%;
  }
  .container {
    height: 100%;
  }
}
.loaderAlign {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #34dbd3;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
